@import url("https://fonts.googleapis.com/css2?family=Hanalei+Fill&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
	color: white;
}

body {
	background: rgb(21, 32, 43);
}

.content {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.nav {
	display: flex;
	justify-content: space-between;
}

.title,
.count {
	font-family: "Hanalei Fill", sans-serif;
	margin: 1rem;
}

.wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.card {
	width: 30%;
	border-radius: 10px;
	box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.5);
	align-self: center;
	padding: 2rem;
	margin: 2rem;
}

.author {
	display: flex;
	margin-bottom: 1rem;
}

.twitter {
	height: 2em;
	margin-left: -0.5rem;
}

.tweet-image {
	object-fit: cover;
	height: 20rem;
	width: 100%;
	margin: 2rem 0;
}

.link {
	background: rgb(0, 162, 245);
	color: white;
	/* margin: 3rem 0; */
	padding: 1rem;
	border-radius: 10px;
	text-decoration: none;
}

.link:hover {
	opacity: 0.8;
}
